!!!5
%html{class:"no-js", lang:"es"}
	%head
		%meta{charset:"utf-8"}
		%title La mejor comida en Restaurante Facilito
		%link{rel:"stylesheet", href:"./offline/style.css"}
		%meta{name:"description", content:"Come rico y barato en el mejor restaurante de la ciudad, servicio de primera."}
		%meta{name:"viewport", content:"width=device-width, initial-scale=1"}
		%script{src:"js/vendor/modernizr-2.8.3.min.js"}
	%body
		%p#message Parece que no pudimos conectarnos a internet. No hay problema, aquí está la información que necesitas.
		.container
			%h1 Restaurante Facilito
			%p
				%strong Dirección
				Av. San Borja Norte con Paseo del Bosque, San Borja
				Lima, Perú.
			%p
				%strong Horario
				5pm - 11 pm
			%p
				%strong Teléfono
				985849047
			%p
				%strong Descripción
				Servimos comida hecha por artistas, ven y prueba la mejor hamburguesa en nuestro clásico Facilito Hamburger, o unas papas como nunca antes.
			#map
				%img{src:"./offline/map.png"}
				%p Este mapa ofrece referencias del lugar del restaurante.	